@import '../../../colors';

@font-face {
  font-family: Inter-Regular;
  src: url(../../../fonts/Inter-Regular.ttf);
}

.button_wrapper {
  input {
    width: 20px;
    margin-right: 4%;
  }
  p {
    font-family: Inter;
    
    text-shadow: 0px 1px 5px rgba(4,2,1,0.3);



    b {
      color: $main-color;
      
    }
    
  }
  .button {
    width: 100%;
    font: 18px;
    font-family: DMSans-Bold;
    border-radius: 7px;
    padding:15px 1.5rem;
    border: 1px solid $main-color;
    color: white;
    background: $main-color;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
    cursor: pointer;
  }
  
  .button:focus {
    outline: none;
  }
}






// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .button_wrapper {
    input {
      width: 20px;
      margin-right: 4%;
    }
    p {
      font-family: Inter;
      width: 100%;
   
     
    }
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
.button_wrapper {
  input {
    width: 20px;
    margin-right: 4%;
  }
  p {
    width: 53%;

  }
 

}
}

  
